:root { 
    font-size: 16px;

    --ff-body: 'Poppins', sans-serif;
    --ff-header: 'Abril Fatface', cursive;

    --fs-xl: clamp(3.5rem, 12vw + 1rem, 12rem);
    --fs-l: clamp(1rem, 3vw + 1rem, 3rem);
    --fs-600: 2.25rem;
    --fs-500: 1.75rem;
    --fs-400: 1.1rem;

    --clr-primary: #000;
    --clr-secondary: #fff;
}

html {
    scroll-behavior: smooth;
}

body { 
    max-width: 100%;
    overflow-x: hidden;
}

h1 { 
    font-family: var(--ff-header);
    font-size: var(--fs-xl);
}

h2 { 
    font-family: var(--ff-body);
    font-size: var(--fs-l);
    text-transform: uppercase;
}

h3 { 
    font-family: var(--ff-header);
    font-size: var(--fs-600);
}

h4 { 
    font-family: var(--ff-body);
    font-size: var(--fs-500);
}

figcaption, label, input, p { 
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    max-width: clamp(45ch, 50%, 75ch);
    line-height: 1.4;
}

.small-screen-nav { 
    display: none;
}

nav { 
    position: fixed;
    width: 100%;
    background-color: var(--clr-secondary);
    box-shadow: 0 2px 15px var(--clr-primary);
    z-index: 2;
}

nav ul { 
    list-style-type: none;
    height: 50px;
}

.nav-button {
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    text-decoration: none;
    position:relative;
    text-transform: uppercase;
    color: var(--clr-primary);
    transition: 125ms;
}

.nav-button::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    background-color: black;
    height: 2px;
    transition: 200ms;
}

.nav-button::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0%;
    background-color: black;
    height: 2px;
    transition: 200ms;
}

.nav-button:hover,
.nav-button:hover::before,
.nav-button:hover::after { 
    width: 50%;
}

.nav-button:active { 
    background-color: var(--clr-primary);
    color: var(--clr-secondary)
}

section { 
    padding: 5rem 5vw;
}

fieldset { 
    max-width: 300px;
    margin-bottom: 2rem;
}

figcaption { 
    margin-top: 1rem;
    text-align: center;
}

/* Layout */
[class^='grid'] { 
    display: grid;
}

[class^='flex'] { 
    display: flex;
}

.grid-left-sidebar { 
    grid-template-columns: 125px 1fr;
}

.grid-bio { 
    grid-template-columns: minmax(200px, 400px) 1fr;
    gap: 5rem;
}

.grid-6-columns { 
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;
}

.grid-2-columns { 
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.grid-center { 
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.flex-spaced-around { 
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.flex-spaced-evenly { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* .container{
    border: 1px solid hotpink
} */

.logo { 
    margin: auto;
}

.hero { 
    height: 50vh;
    text-align: center;
}

.block-center { 
    max-width: 1100px;
    margin: 0 auto;
}

.bio-length-options { 
    margin: 0 auto;
}

.bio-option-radios {
    margin-top: 1rem;
}

.profile-photo { 
    width:100%;
    border-radius: 10%;
    /* max-height: 580px; */
}
/* Tilt Effect */
.tilt-box-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.6s ease-out;
    perspective: 1000px;
}
.tilt-box-wrap:hover { 
    transition: all .3s ease-out linear;
    transform: scale(1.05);
}
.tilt-box {
    width: 100%;
    height: 100%;
    max-height: 580px;
    transition: all 0.6s ease-out;
    transform: rotateX(0deg) rotateY(0deg);
    perspective: 1000px;
    transform-style: preserve-3d;
}
.t_over {
    width: 33.333%;
    height: 33.333%;
    position: absolute;
    z-index: 1;
}
.t_over:nth-child(1) { left: 0; top: 0 }
.t_over:nth-child(2) { left: 33.333%; top: 0 }
.t_over:nth-child(3) { left: 66.666%; top: 0 }
.t_over:nth-child(4) { left: 0; top: 33.333% }
.t_over:nth-child(5) { left: 33.333%; top: 33.333% }
.t_over:nth-child(6) { left: 66.666%; top: 33.333% }
.t_over:nth-child(7) { left: 0; top: 66.666% }
.t_over:nth-child(8) { left: 33.333%; top: 66.666% }
.t_over:nth-child(9) { left: 66.666%; top: 66.666% }

.t_over:nth-child(1):hover ~ .tilt-box { transform: rotateX(-10deg) rotateY(10deg); }
.t_over:nth-child(2):hover ~ .tilt-box { transform: rotateX(-10deg) rotateY(0); }
.t_over:nth-child(3):hover ~ .tilt-box { transform: rotateX(-10deg) rotateY(-10deg); }
.t_over:nth-child(4):hover ~ .tilt-box { transform: rotateX(0) rotateY(10deg); }
.t_over:nth-child(5):hover ~ .tilt-box { transform: rotateX(0) rotateY(0); }
.t_over:nth-child(6):hover ~ .tilt-box { transform: rotateX(0) rotateY(-10deg); }
.t_over:nth-child(7):hover ~ .tilt-box { transform: rotateX(10deg) rotateY(10deg); }
.t_over:nth-child(8):hover ~ .tilt-box { transform: rotateX(10deg) rotateY(0); }
.t_over:nth-child(9):hover ~ .tilt-box { transform: rotateX(10deg) rotateY(-10deg); }

/* End of tilt effect */

.skills-text { 
    position: sticky;
    top: 40%;
    margin: 0 auto 47.5vh;
    height: fit-content;
}

.skills-images { 
    grid-column-start: 2;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(10px, 70px));
    height: 100vh;
    gap: 6rem
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 900ms ease-out;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.icon { 
    margin: 0 auto;
}

.icon:nth-child(2) {
    transition-delay: 300ms;
}

.icon:nth-child(3) {
    transition-delay: 600ms;
}

.icon a img { 
    animation: shake 11s ease-in 1s infinite;
}

@keyframes shake { 
    0% { 
        transform: translate(0);
    }
    2%, 4%, 6%, 8% {
        transform: translate(.2em);
    }
    1%, 3%, 5% {
        transform: translate(-.1rem);
    }
    7%, 10% {
        transform: translate(0);
    }
}

.skills-images figure figcaption { 
    opacity: 0;
    transform: translateY(-2rem);
    transition: all 200ms;
}

.skills-images figure:hover figcaption { 
    transform: translateY(0);
    opacity: 1;
}

.skills-images figure img { 
    width: clamp(10px, 12vw, 70px);
}

.carousel { 
    margin-top: 3rem;
}

.card { 
    margin: 0 auto;
    background-image: url(./img/phb.jpg);
    background-size: cover;
    background-position: right;
    overflow: hidden;
    width: 300px;
    max-height: 500px;
    border-radius: 1rem;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.info {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #fff;
    transform: translateY(100%)
      translateY(-88px)
      translateZ(0);
    transition: transform 0.5s ease-out;
  }

.info:before {
    z-index: -1;
    display: block;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(./img/phb.jpg);
    filter: blur(10px);
    background-size: cover;
    background-position: right;
    opacity: 0.25;
    transform: translateY(-100%)
        translateY(100px)
        translateZ(0);
    transition: transform 0.5s ease-out;
}

.card:hover .info,
.card:hover .info:before {
    transform: translateY(0) translateZ(0);
}

.project-title {
    margin: 0;
    padding: 24px;
    min-height: 3rem;
    line-height: 1;
    color: rgba(0, 0, 0, 0.87);
}

.project-description {
    margin: 0;
    padding: 0 24px 24px;
    line-height: 1.5;
}

.project-skills { 
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0 24px 24px;
}

.project-skills img { 
    width: 35px;
}

form > * {
    display: block;
    margin-top: .25rem;
}

input[type=text] { 
    width: 100%;
    height: 1.2rem;
}

textarea { 
    width: 100%;
    height: 5rem;
    resize: none;
}

input[type=submit] { 
    float: right;
}

@media only screen and (max-width: 585px) { 
    section { 
        padding: 5rem 3vw;
    }

    fieldset {
        margin: 0 auto 2rem;
    }

    .large-screen-nav { 
        display: none;
    }

    .small-screen-nav { 
        display: block;
        width: 100%;
        text-align: center;
        height: 60px;
    }

    .small-screen-nav h4 { 
        margin: 1rem;
        user-select: none;
    }

    .small-screen-nav h4 a {
        text-decoration: none;
        color: var(--clr-primary);
    }

    .small-screen-nav ul { 
        background-color: var(--clr-secondary);
        height: fit-content;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
    }

    .small-screen-nav li { 
        padding: 1rem;
    }
    .small-screen-nav li a { 
        opacity: 0;
        transition: opacity 100ms ease-in-out;
    }

    .nav-toggle {
        display: none;
    }

    .nav-toggle-label {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 1rem;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        width: 1.5rem;
        background: black;
        height: 2px;
        border-radius: 5px;
    }

    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: '';
        position: absolute;
    }

    .nav-toggle-label span::before { 
        bottom: 22px;
    }

    .nav-toggle-label span::after { 
        top: 22px;
    }
    .nav-toggle:checked ~ ul { 
        transform: scale(1, 1);
    }

    .nav-toggle:checked ~ ul li a { 
        opacity: 1;
        transition: opacity 250ms ease-in-out 300ms;
    }

    .grid-bio {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .profile-photo {
        width: 200px;
        margin: 0 auto;
    }

    /* Recenter profile image for tilt effect */

    .tilt-box-wrap { 
        display: flex;
    } 

    /* End of recenter profile image for tilt effect */

    .skills-text { 
        text-align: center;
    }
}